
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Star -->
<div class="container-fluid px-0" style="margin-top: 80px;background: url(/client/img/banner.jpg);">
    <div style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="text-center" style="padding: 100px 0;">
            <h1 style="font-size: 60px;color: white;font-weight: bold;">Contact</h1>
            <p class="text-white" style="font-size: 20px;">Home <i class="fa-solid fa-caret-right"></i> <span style="color: #92ad6a;">Contact</span></p>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Product Star-->
<div class="product text-center container">
    <h2 class="" style="font-size: 50px;font-weight: bold;">Contact Us</h2>
    <p class="pb-5" style="font-style: 20px !important;color: #92ad6a;">__________________________________________________</p>
    <p class="lead text-center p-5" style="font-size:20px;">PEARAPPLE được thành lập vào năm 2022. Nhờ sự yêu mến, quan tâm của đông đảo khách hàng gần xa nên chỉ sau hơn 5 năm ra đời, PEARAPPLE đã trở thành một địa chỉ mua sắm nước hoa, mỹ phẩm cao cấp, chính hãng quen thuộc và đáng tin cậy của khách hàng...</p>
    <div class="row py-2">
        <div class="col-md-12">
            <i class="fas fa-map" style="color: red;font-size:20px;"></i><span class="ml-2" style="font-size:20px;"> Tầng 99 The Vesta, Phú Lãm, Hà Đông, Hà Nội.</span>
        </div>
    </div>

    <div class="row py-2">
        <div class="col-md-12">
            <i class="fas fa-phone-volume" style="color: red; font-size: 20px;"></i><span class="ml-2" style="font-size:20px;"> 0368960711</span>
        </div>
    </div>

    <div class="row py-2">
        <div class="col-md-12">
            <i class="fas fa-envelope" style="color: red; font-size: 20px;"></i><span class="ml-2" style="font-size:20px;"> tranvudai0210@gmail.com</span>
        </div>
    </div>
</div>

<div class="container mb-2">
    <div class="row">
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5269.615373248006!2d105.75584900703348!3d20.945270139721085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x541080783712c812!2zQ2h1bmcgY8awIFRoZVZlc3RhIFBow7ogTMOjbSBIw6AgxJDDtG5n!5e0!3m2!1svi!2s!4v1625124204832!5m2!1svi!2s" width="1320" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

