
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header Star -->
<div class="container-fluid px-0" style="margin-top: 80px;background: url(/client/img/banner.jpg);">
    <div style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="text-center" style="padding: 100px 0;">
            <h1 style="font-size: 60px;color: white;font-weight: bold;">About Us</h1>
            <p class="text-white" style="font-size: 20px;">Home <i class="fa-solid fa-caret-right"></i> <span style="color: #92ad6a;">About Us</span></p>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Story Start -->
<div class="Story text-center container pt-5">
    <h3 style="color: #92ad6a;font-size: 40px !important;font-weight: 400;">Welcome to Pear Apple</h3>
    <h2 style="font-size: 50px !important;font-weight: bold;">A LITTLE STORY ABOUT US</h2>
    <p style="font-size: 20px;font-weight: 700;" class="text-success">wwwwwwwwwww <i class="fa-solid fa-dove"></i> wwwwwwwwwww<p></p>
    <div class="row pt-5">
        <div class="col-6 pt-4">
            <img src="https://otbsalessolutions.com/wp-content/uploads/2021/08/Farmer-standing-in-field.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-6 text-start">
            <h3 class="pb-5">A FRIENDLY ONLINE STORY</h3>
            <p style="font-size: 20px;text-align: justify;" class="pb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit ipsum nulla itaque animi illum unde vero quisquam excepturi cumque ?</p>
            <p style="font-size: 20px;text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit magnam nihil repellat modi deleniti laboriosam quia in. Ullam voluptas animi iusto nisi accusantium aperiam temporibus repudiandae unde quasi et.</p>
            <div class="row">
                <div class="col-4">
                    <img src="~/client/img/img6.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-4">
                    <img src="~/client/img/banner1.png" class="img-fluid" alt="">
                </div>
                <div class="col-4">
                    <img src="~/client/img/img7.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Story End -->
<!--Why Start -->
<div class="container py-5 my-5">
    <h2 class="text-center" style="font-size: 50px;font-weight: bold;">Why Choose Us?</h2>
    <p style="font-size: 16px;font-weight: 700;" class="text-success text-center pb-5">wwwwwwwwwww <i class="fa-solid fa-dove"></i> wwwwwwwwwww<p></p>
    <div class="row justify-content-center d-flex mt-5">
        <div class="col-4 d-flex justify-content-center flex-wrap">
            <div class="row">
                <div class="col-10 text-end">
                    <h3>Always Fresh</h3>
                    <p style="font-size: 16px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi facere aperiam</p>
                </div>
                <div class="col-2">
                    <i class="fa-solid fa-heart-circle-check" style="font-size: 40px;color: white;background-color: #00FF00;padding: 10px;border-radius: 999px;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-10 text-end">
                    <h3>Keep You Healthy</h3>
                    <p style="font-size: 16px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi facere aperiam</p>
                </div>
                <div class="col-2">
                    <i class="fa-solid fa-heart-circle-check" style="font-size: 40px;color: white;background-color: #00FF00;padding: 10px;border-radius: 999px;"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-10 text-end">
                    <h3>Healthy Cooking</h3>
                    <p style="font-size: 16px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi facere aperiam</p>
                </div>
                <div class="col-2">
                    <i class="fa-solid fa-heart-circle-check" style="font-size: 40px;color: white;background-color: #00FF00;padding: 10px;border-radius: 999px;"></i>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img src="~/client/img/img8.png" class="img-fluid" alt="">
        </div>
        <div class="col-4 d-flex justify-content-center flex-wrap">
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-heart-circle-check" style="font-size: 40px;color: white;background-color: #00FF00;padding: 10px;border-radius: 999px;"></i>
                </div>
                <div class="col-10">
                    <h3>Healthy 100%</h3>
                    <p style="font-size: 16px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi facere aperiam</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-heart-circle-check" style="font-size: 40px;color: white;background-color: #00FF00;padding: 10px;border-radius: 999px;"></i>
                </div>
                <div class="col-10">
                    <h3>Greenhouse</h3>
                    <p style="font-size: 16px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi facere aperiam</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-heart-circle-check" style="font-size: 40px;color: white;background-color: #00FF00;padding: 10px;border-radius: 999px;"></i>
                </div>
                <div class="col-10">
                    <h3>Healthy Diet</h3>
                    <p style="font-size: 16px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi facere aperiam</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4 row">
            <div class="col-2 pt-3">
                <i class="fa-solid fa-cart-plus" style="font-size: 40px;color: orange;"></i>
            </div>
            <div class="col-10">
                <h3 style="font-size: 40px !important;">Easy to Order</h3>
                <p style="font-size: 20px;" class="text-secondary pe-5">Enjoy the convenience of your shopping with the various feafutures available.</p>
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-2 pt-3">
                <i class="fa-solid fa-truck" style="font-size: 40px;color: blue;"></i>
            </div>
            <div class="col-10">
                <h3 style="font-size: 40px !important;">Fast Delivery</h3>
                <p style="font-size: 20px;" class="text-secondary pe-5">We offer the fastest delivery at your location we will ship within 30 min.</p>
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-2 pt-3">
                <i class="fa-solid fa-credit-card" style="font-size: 40px;color: green;"></i>
            </div>
            <div class="col-10">
                <h3 style="font-size: 40px !important;">Secure Payment</h3>
                <p style="font-size: 20px;" class="text-secondary pe-5">Enjoy the convenience of your shopping with the various feafutures available</p>
            </div>
        </div>
    </div>
</div>
<!-- Why End -->
